@media screen and (max-width:10000px){

  nav{
    display: none;
  }
}

@media screen and (max-width:1600px) {

  html{
    overflow-x: hidden;
  }

nav{
  display: none;
}

.topo{
  width: 100%;
}

.cards1 li{
  flex-basis: 30%;
}

.cards1{
  display: flex;
  flex-wrap: wrap;
}

.cards-bs ul li{
  padding-bottom: 15px;
}

.localizacao{
  display: flex;
  flex-direction: row;
  height: auto;
}

.localizacao h1{
  font-size: 60px;
}

.localizacao p{
  font-size: 25px;
  margin: 5px;
}

.bloco1 li img{
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.bloco2 li img{
  width: 740px;
  height: 428px;
  border-radius: 10px;
  
}
 
.whats {
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 750px;
  left: 1450px;
  opacity: .3;
  transition: .5s;
}

.whats:hover {
  opacity: 1;
  transition: .5s;
}

}

@media screen and (max-width:1400px) {

html{
    overflow-x: hidden;
  }

nav{
  display: none;
}

.topo{
  width: 100%;
}

.cards1{
  display: flex;
  flex-wrap: wrap;
}

.cards-bs ul li{
  padding-bottom: 15px;
}

.localizacao{
  display: flex;
  flex-direction: row;
  height: auto;
}

.localizacao h1{
  font-size: 60px;
}

.localizacao p{
  font-size: 25px;
  margin: 5px;
}

.bloco1 li img{
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.bloco2 li img{
  width: 500px;
  height: 350px;
  border-radius: 10px;
  
}

.whats {
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 750px;
  left: 1300px;
  opacity: .3;
  transition: .5s;
}

.whats:hover {
  opacity: 1;
  transition: .5s;
}

}

@media screen and (max-width:1200px) {

html{
    overflow-x: hidden;
  }

nav{
  display: none;
}

.topo{
  width: 100%;
}

.whats {
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 750px;
  left: 1050px;
  opacity: .3;
  transition: .5s;
}

.whats:hover {
  opacity: 1;
  transition: .5s;
}

.cards-bs ul li{
  padding-bottom: 15px;
}

.localizacao{
  display: flex;
  flex-direction: row;
  height: auto;
}

.localizacao h1{
  font-size: 50px;
}

.localizacao p{
  font-size: 20px;
  margin: 5px;
}

.bloco1 li img{
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.bloco2 li img{
  width: 500px;
  height: 350px;
  border-radius: 10px;
  
}


}
@media screen and (max-width:768px) {

nav{
  display: none;
}

.whats{
  display: none;
}


.container1{
  width: 100%;
}

.logo img{
  width: 230px;
  height: auto;
}

.cabecalho {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 17em;
}

.cabecalho a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
}

.topo{
  display: none;
}

html{
  overflow-x: hidden;
}

body{
  width: 100%;
}

.cards1{
  display: flex;
  flex-basis: 100%;
}

.cards-bs ul li{
  padding-bottom: 15px;
}

.email input[type=email] {
  width: 150%;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  color: #26263e;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.localizacao{
  display: flex;
  flex-direction: column;
  height: auto;
}

.localizacao h1{
  font-size: 50px;
}

.localizacao p{
  font-size: 30px;
  margin: 5px;
}

.texto{
  width: 100%;
  padding-top: 5px;
}

.rodape{
  display: flex;

  width: 100%;
  height: 70px;
  background-color: black;
  padding: 5px;
  justify-content: space-around;
  padding-top: 50px;
}

.rodape h1{
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
}

.rodape h2{
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
}

.bloco1{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding: 5px;
  
}

.bloco1 li p{
  width: 95%;
  font-size: 20px;
  text-align: start;
  padding-top: 5%;
  
}

.bloco1 li img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: none;
}

.bloco2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  padding-top: 30px;
  flex-wrap: wrap;
  padding: 5px;
}

.bloco2 li p{
  width: 100%;
  font-size: 20px;
  text-align: start;
  padding-top: 5%;
}

.bloco2 li img{
  width: 470px;
  height: 314px;
  border-radius: 10px;
  
}

}

@media screen and (max-width:480px) {


html{
    overflow-x: hidden;
}

header{
    display: none;
}

nav{
  display: block;
}

.topo{
    display: none !important;
    visibility: hidden;

}

.box-sobre{
    background-image: none;
}

.titulo{
    font-size: 80px;
}

.cards-bs ul li{
  padding-bottom: 15px;
}

/* #region menu maburger */


.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  padding-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ff1616;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 500px 500px 5000px #26263ede;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 5rem;
  font-weight: 600;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;

}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/* #endregion menu maburger */

.localizacao{
  display: flex;
  flex-direction: column;
  height: auto;
}

.texto{
  width: 100%;
  padding-top: 5px;
}

.whats{
  display: none;
}

.localizacao h1{
  font-size: 50px;
}

.localizacao p{
  font-size: 20px;
  margin: 5px;
}

.rodape{
  display: flex;
  width: 100%;
  height: 70px;
  background-color: black;
  padding: 10px;
  justify-content: space-around;
  padding-top: 50px;
}

.rodape h1{
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
}

.rodape h2{
  font-size: 15px;
  font-family: 'Russo One', sans-serif;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  width: 100%;
  height: 600px;
  padding-top: 30%;
  background-image: none;
}

.email input[type=email] {
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  color: #26263e;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.box-sobre{
  background-image: linear-gradient(to right, #000000, #26263e);
}

.bloco1{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding: 5px;
  
}

.bloco1 li p{
  width: 95%;
  font-size: 20px;
  text-align: start;
  padding-top: 5%;
  
}

.bloco1 li img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: none;
  
}

.bloco2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  padding-top: 30px;
  flex-wrap: wrap;
  padding: 5px;
}

.bloco2 li p{
  width: 100%;
  font-size: 20px;
  text-align: start;
  padding-top: 5%;
}

.bloco2 li img{
  width: 450px;
  height: 314px;
  border-radius: 10px;
  
}

.formulario ul li{
  padding-left: 10px;
  font-size: 20px;
}

.dados-reserva{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 10px;
}

.container1{
  background-image: linear-gradient(to right, #000000, #26263e);
}

}
