@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Russo+One&family=Tomorrow:wght@400;500;700&display=swap');

body {
    width: 100%;
    height: auto;
    background-color: #26263e;
    color: white;
    font-family: 'Tomorrow', sans-serif;
}

.container1{
    width: 100%;
}

.whats{
    display: flex;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 800px;
    left: 1750px;
    opacity: .3;
    transition: .5s;
}

.whats:hover {
    opacity: 1;
    transition: .5s;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: +1;
    background-color: #26263e9f;

}

.logo-header img {
    width: 250px;
    height: 100px;
    padding-left: 10px;
    position: absolute;
    top: -20px
}

.cabecalho {
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 40em;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.cabecalho a:hover {
    background: red;
    color: #26263e;

}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px;
    font-size: 6em;
    font-family: 'Russo One', sans-serif;
    color: #ff1616;
    text-shadow:
        -1px -1px 0px #FFF,
        -1px 1px 0px #FFF,
        1px -1px 0px #FFF,
        1px 0px 0px #FFF;
}

.cards-bs {
    display: flex;
}

.cards1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 15px;
}

.cards1 li{
    flex-basis: 15%;
}

.cards1 h2 {
    padding-top: 10px;
    font-size: 20px;
}

.cards1 h3 {
    padding-top: 10px;
}

.cards1 p {
    color: red;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.cards1 img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.btnDefault {
    text-decoration: none;
    color: white;
    background-color: #ff1616;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.cards1 a:hover {
    background: white;
    color: #26263e;
    transition: 0.5s;
}

.vermais {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
}

.vermais ol a {
    text-decoration: none;
    color: white;
    background-color: #ff1616;
    border-radius: 10px;
    font-size: larger;
    padding: 10px;
    transition: 0.5s;
}

.vermais a:hover {
    background: white;
    color: #26263e;
    transition: 0.5s;
    text-decoration: none;
}

.cadastro {
    background-image: url(../img/banner2.png);
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cadastro h1 {
    display: flex;
    font-size: 70px;
    font-family: 'Russo One,', sans-serif;
    text-shadow:
        -1px -1px 0px rgb(1, 1, 1),
        -1px 1px 0px rgb(1, 1, 1),
        1px -1px 0px rgb(1, 1, 1),
        1px 0px 0px rgb(1, 1, 1); 
}

.email {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email input[type=email] {
    width: 250%;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    color: #26263e;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.assinar {
    padding: 10px
}

.assinar input[type=submit] {
    background-color: #26263e;
    border-radius: 10px;
    border: none;
    color: white;
    height: 50px;
    width: 120px;
    font-size: 20px;
    transition: 0.5s;
}

.assinar input[type=submit]:hover {
    background-color: white;
    color: #26263e;
    transition: 0.5s;
}

.localizacao{
    width: 100%;
    height: 550px;
    display: flex;
}

.localizacao h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    font-size: 4em;
    font-family: 'Russo One', sans-serif;
    color: #ff1616;
    text-shadow:
        -1px -1px 0px #FFF,
        -1px 1px 0px #FFF,
        1px -1px 0px #FFF,
        1px 0px 0px #FFF; 
}

.localizacao p{
    font-size: 1.5em;
    margin: 20px;
}

.texto{
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 100px;
    width: 50%;
 
    
}

.mapa{
    display: flex;
    align-items: flex-end;
    padding: 50px;
}

.rodape{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 10px;
    justify-content: space-around;
    padding-top: 50px;
}

.rodape h1{
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}

.rodape h2{
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    height: 600px;
    padding-top: 5%;
    background-image: linear-gradient( white , #26263e);
}

.box img{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.imagens-box{
    display: flex;
    justify-content: center;
    
}

.texto-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 4em;
    font-family: 'Russo One', sans-serif;
    color: #ff1616;
    text-shadow:
        -1px -1px 0px #FFF,
        -1px 1px 0px #FFF,
        1px -1px 0px #FFF,
        1px 0px 0px #FFF;
}

.texto-box h1{
    font-size: 1.2em;
    font-family: 'Russo One', sans-serif;
}

.texto-box h2{
    font-size: 0.8em;
    font-family: 'Russo One', sans-serif;
}

/* #region reserva.html*/

.formulario{
    display: flex;
    flex-direction: column;
}

.titulo-reserva{
    font-size: 3em;
    padding-top: 2em;
}

.subtitulo{
    padding-top: 3%;
    padding-bottom: 10px;
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    color: #ff1616;
    text-shadow:
        -1px -1px 0px #FFF,
        -1px 1px 0px #FFF,
        1px -1px 0px #FFF,
        1px 0px 0px #FFF;
}

.formulario ul{
    display: flex;  
    flex-direction: column;
    text-align:start;
}

.formulario ul li{
    padding-left: 100px;
    font-size: 20px;
}

.dados-reserva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-left: 100px;
}

.dados-reserva label{
    padding-top:7px;
    padding-bottom: 7px;
}

.dados-reserva input{
    border: none;
    border-radius: 5px;
    width: 50%;
    line-height: 20px;
    font-family: 'Russo One', sans-serif;
    color: #26263e;
}

.dados-reserva input:hover {
    background: white;
    color: #26263e;
    transition: 0.5s;
    text-decoration: none;
}

.dados-reserva input[type=submit]{
    width: 150px;
}

.dados-reserva select{
    width: 30%;
    border: none;
    border-radius: 5px;   
}

#encomenda{
    width: 50%;
    border: none;
    border-radius: 5px;
    line-height: 10px;  
}

/* #endregion reserva*/

/* #region sobre */

.box-sobre{
    background-image: linear-gradient(to right, #ff1616, #26263e);
}

.bloco1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    
}

.bloco1 li p{
    width: 600px;
    font-size: 25px;
    text-align: start;
    padding-top: 5%;
}

.bloco1 li img{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    
}

.bloco2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 30px;
}

.bloco2 li p{
    width: 600px;
    font-size: 25px;
    text-align: start;
    padding-top: 5%;
}

.bloco2 li img{
    width: 940px;
    height: 628px;
    border-radius: 10px;
    
}


/* #endregion sobre */
